.c-archive {
  &__header {
    @include flex(space-between, center);
    @include paragraph;
    @include padding;
    font-weight: 500;
    text-transform: uppercase;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 10vh;
    z-index: 2;
    max-width: 1650px;
    margin: 0 auto;
    right: 0;

    @include media(">tablet") {
      // margin-bottom: 0px;
    }
  }

  &__main {
    overflow: hidden;
    display: flex;
    @include padding;
    margin-top: 10vh;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 80vh;
    width: 1651px;

    @media screen and (max-height: 700px) {
      padding-top: 10;
      padding-bottom: 10;
      height: 85vh;
    }

    > div {
      max-height: 800px;
      display: flex;
      width: 100%;
    }

    .archive {
      &__intro {
        display: flex;
        flex-direction: column;
        width: 340px;
        flex-shrink: 0;
        height: 100%;
        margin-right: 151px;

        p {
          @include paragraph;
          color: $col-gray;
          margin-bottom: 40px;
        }

        h1 {
          @include heading-3;
          margin-bottom: 48px;
        }

        .home-link {
          padding: 12px;
          margin-bottom: 24px;
          border: 1px solid #abb1ba;
          border-radius: 64px;
          @include title-small;
          display: inline;
          width: fit-content;
        }

        .credits-link {
          margin-top: auto;
        }
      }

      &__images {
        display: flex;
        height: 100%;
        > div {
          flex: 0 0 auto;
          height: 100%;
          margin-right: 56px;
          overflow: hidden;

          .bg-image {
            background-size: cover;
            background-position: 50% 0;
            background-repeat: no-repeat;
            height: 100%;
            width: calc(100% + 5vw);
          }

          &.lg {
          }

          &.md {
          }

          &.sm {
            width: 600px;
          }

          &.xs {
            width: 400px;
          }

          img {
            height: 100%;
            width: calc(100% + 10vw);
          }
        }
      }
    }
  }
}
