.c-landing {
  .desktop-landing {
    padding: 48px 52px;
    display: none;
    @include media(">tablet") {
      height: 100vh;
      max-height: 100vh;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      flex: 1 1 0%;
    }
  }

  .mobile-landing {
    padding: 24px;
    height: 400vh;
    @include media(">tablet") {
      display: none;
    }

    .c-landing__header {
      margin-bottom: 64px;
    }
  }
  &__header {
    @include flex(space-between, center);
    @include paragraph;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 70px;
  }
  &__desktop {
    width: 100%;
    height: 100%;
    padding: 16px 0;

    @include media(">tablet") {
      display: grid;
    }

    > div {
      grid-area: 1/1;
      display: grid;
      grid-template-columns: repeat(12, calc(100% / 12));
      grid-template-rows: repeat(12, calc(100% / 12));
      grid-auto-flow: row dense;
    }

    .hero-content {
      .hero-image {
        grid-column-start: 6;
        grid-column-end: 12;
        grid-row: span 11;
        display: grid;
        > div {
          grid-area: 1 / 1;
        }

        .image-mask {
          position: relative;
          z-index: 1;
          // background: $col-cream;
        }

        .c-image {
          background: url("https://res.cloudinary.com/dmwfd0zhh/image/upload/q_auto,f_auto/v1620697813/Korty/image_2_gijibv.jpg");
          background-position: 50% 50%;
          background-size: cover;
        }
      }

      .credits-link {
        width: 90px;
        height: 90px;
        grid-column-start: 1;
        grid-column-end: 2;
        position: relative;
        z-index: 5;
        display: inline-block;
        grid-row-start: 10;
        border-radius: 50%;
        position: relative;
        margin-top: calc(100 / 12 * 1px);
        // transform: translateY(15%);
        @include flex(center, center);
        @include paragraph;
        text-transform: uppercase;
        border: 1px solid #abb1ba;
        background: transparent;
        outline: none;
        letter-spacing: -0.5px;
      }

      .c-name {
        &__details {
          grid-column-start: 3;
          grid-column-end: 5;

          .details-title {
            @include heading-3;
            margin-bottom: 12px;
          }

          .details-jd {
            @include paragraph;
            line-height: 1;
          }
        }
        &__image {
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row-start: 1;
          grid-row-end: 4;
          width: calc(100% - 40px);
          .inner {
            width: 100%;
            padding-bottom: 100%;
            border-radius: 50%;
            overflow: hidden;
            background: url("https://res.cloudinary.com/dmwfd0zhh/image/upload/v1620697813/Korty/image_20_bufuoi.jpg");
            background-size: cover;
            background-position: 50% 50%;
          }

          // @include media(">1000px") {
          //   padding: 0 15px;
          // }
        }
      }
    }

    .hero-links {
      position: relative;
      z-index: 1;
      .c-circular-link {
        grid-column-start: 10;
        grid-column-end: 13;
        grid-row-start: 5;
      }

      .c-hoverlink {
        @include heading-2;
        @include variableFonts(25, 64);
        @include flex($align: center);

        p {
          @include paragraph;
          max-width: 210px;
          width: 100%;
        }

        @include media(">1200px") {
          @include variableFonts(35, 68);
        }

        @include media(">1300px") {
          @include variableFonts(36, 74);
        }

        sup {
          @include heading-3;
          @include variableFonts(6, 10);
          position: relative;
          top: -15px;
          left: 5px;
          display: inline-block;
        }

        &.hover-link-1 {
          grid-column-start: 3;
          grid-column-end: 14;
          grid-row-start: 3;
          grid-row-end: 4;
          position: relative;

          p {
            margin-right: 40px;
            margin-top: 10px;
          }
          @include media(">1200px") {
            max-width: calc(10.3 / 11 * 100%);
          }
        }

        &.hover-link-2 {
          grid-column-start: 2;
          grid-column-end: 11;
          grid-row-start: 6;
          grid-row-end: 7;

          p {
            margin-left: 40px;
          }
        }

        &.hover-link-3 {
          grid-column-start: 3;
          grid-column-end: 11;
          grid-row-start: 9;
          grid-row-end: 10;

          .image-details {
            margin-right: 40px;
            @include flex($align: center);

            p {
              max-width: 140px;
              margin-right: 35px;
            }

            .c-image {
              width: 90px;
              height: 90px;
            }
          }
        }
      }
    }
  }

  &__mobile {
  }
}
