.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth .js-locomotive {
  min-height: 100vh;
  width: 100%;
}

.has-scroll-smooth .js-locomotive.horizontal {
  width: 100%;
  display: block;

  @media (min-width: 769px) {
    // width: fit-content;
    display: table;
  }
}
