@mixin heading-1 {
  font-size: 200px;
  letter-spacing: -5px;
  font-weight: 300;
  line-height: 100%;
}

@mixin heading-2 {
  @include heading-1;
  font-size: 80px;
}

@mixin heading-3 {
  font-size: 34px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -2px;
}

@mixin title-small {
  font-size: 15px;
  font-weight: 400;
  line-height: 1;
}

@mixin paragraph {
  @include title-small;
  letter-spacing: normal;
  line-height: 1.1;
  font-weight: 400;
  // font-size: 16px;
}

@mixin variableFonts($min, $max) {
  --max-size: #{$max};
  --min-size: #{$min};

  font-size: var(--responsive);
}
