.c-modal {
  position: fixed;
  background: $col-cream;
  bottom: 0;
  left: 0;
  // top: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  @include padding;
  overflow: hidden;

  &__main {
    max-width: 685px;
    width: 100%;
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 24px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    overflow: auto;

    @include media(">600px") {
      padding-top: 96px;
      overflow: hidden;
    }

    .home-link {
      padding: 12px;
      margin-bottom: 24px;
      border: 1px solid #abb1ba;
      border-radius: 64px;
      @include title-small;
      font-family: inherit;
      display: block;
      width: fit-content;
      color: $col-black;
      margin-left: auto;
      background: transparent;
      margin-bottom: 20px;

      @include media(">600px") {
        margin-bottom: 80px;
      }

      .c-link {
        z-index: 1;
      }
    }

    .sect {
      justify-content: space-between;

      @include media(">600px") {
        display: flex;
      }

      p,
      a {
        @include paragraph;
        color: #525760;
      }

      h1 {
        @include paragraph;
        color: #525760;
        margin-bottom: 20px;
      }

      .left {
        max-width: 282px;
        width: 100%;
      }

      .right {
        max-width: 337px;
        width: 100%;
      }
    }

    .main {
      &__top {
        margin-bottom: 48px;
        .left {
          h1 {
            margin-top: 20px;
          }

          p {
            margin-bottom: 7px;
          }
        }

        .right {
          display: none;
          @include media(">600px") {
            height: 185px;
            display: block;
          }
          img {
            height: 100%;
          }
        }
      }

      &__bottom {
        margin-bottom: 40px;
        display: flex;
        flex-direction: column-reverse;

        @include media(">600px") {
          flex-direction: row;
        }
        .left {
          p {
            max-width: 230px;
          }

          .left-footer {
            display: none;

            margin-top: 44px;
            max-width: 230px;

            @include media(">600px") {
              display: flex;
              justify-content: space-between;
              align-items: center;
            }
          }
        }

        .right {
          margin-bottom: 40px;
          @include media(">600px") {
            margin-bottom: 0;
          }
          p {
            margin-bottom: 20px;
          }
          a {
            text-decoration: underline;
          }
        }
      }

      &__footer {
        margin-top: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include media(">600px") {
          display: none;
        }
      }
    }
  }
}
