@font-face {
  font-family: "Grotesk";
  src: url(~/assets/fonts/Grotesk/HKGrotesk-Light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Grotesk";
  src: url(~/assets/fonts/Grotesk/HKGrotesk-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Grotesk";
  src: url(~/assets/fonts/Grotesk/HKGrotesk-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Fraunces";
  src: url(~/assets/fonts/Fraunces/Fraunces72pt-Light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Fraunces";
  src: url(~/assets/fonts/Fraunces/Fraunces72pt-LightItalic.woff2)
    format("woff2");
  font-weight: 300;
  font-style: italic;
}
