body {
  margin: 0;
  padding: 0;
  background: $col-cream;
  font-weight: 400;
  color: $col-black;
  font-family: "Grotesk", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  // cursor: none;
}

* {
  box-sizing: border-box;
  --responsive: calc(
    (var(--min-size) * 0.06em) + (var(--max-size) - var(--min-size)) *
      ((100vw - 420px) / (1200 - 420))
  );
}

a {
  text-decoration: none;
  color: inherit;
}

button,
[role="button"] {
  cursor: pointer;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
  object-fit: cover;
}

img {
  width: 100%;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

.ml-auto {
  margin-left: auto;
}

.menu__item {
  position: relative;

  &-label {
    mix-blend-mode: overlay;
  }
}

.hover-reveal {
  position: absolute;
  z-index: -1;
  width: 400px;
  height: 400px;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
}

.hover-reveal__inner {
  overflow: hidden;
}

.hover-reveal__inner,
.hover-reveal__video {
  width: 100%;
  height: 100%;
  position: relative;
}

.hover-reveal__video {
  object-fit: cover;
  object-position: 50% 50%;
}

.fraunces {
  font-family: $fontSerif;
}

.show-mobile {
  @include media(">phone") {
    display: none;
  }
}

.show-tablet {
  @include media(">tablet") {
    display: none;
  }
}

.show-desktop {
  @include media("<=tablet") {
    display: none;
  }
}

.credits-link {
  width: 90px;
  height: 90px;
  grid-column-start: 1;
  grid-column-end: 2;
  position: relative;
  z-index: 5;
  display: inline-block;
  grid-row-start: 10;
  border-radius: 50%;
  position: relative;
  margin-top: calc(100 / 12 * 1px);
  // transform: translateY(15%);
  @include flex(center, center);
  @include paragraph;
  text-transform: uppercase;
  border: 1px solid #abb1ba;
  background: transparent;
  outline: none;
  letter-spacing: -0.5px;
}
