body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-weight: 400;
  font-family: "Grotesk", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  // cursor: none;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
[role="button"] {
  cursor: pointer;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

img {
  width: 100%;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
