@import "base/variables";

@import "mixins/breakpoints";
@import "mixins/layout";
@import "mixins/fonts";

@import "base/globals";
@import "base/fonts";

@import "pages/home";
@import "pages/profile";
